@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: rgb(0, 0, 0);
	text-align: center;
	margin: 0;
	padding-top: 10px;
	margin-top: 10px;
	margin-right: 85px;
	font-size: 30px;
}

.logo {
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
	padding-top: 10px;
	margin-top: 5px;
	margin-right: 95px;
	font-size: 20px;
}

.name {
	margin-left: 140px;
	margin-top: -69px;
	font-size: 30px;
}

.hero_title {
	text-align: left;
	font-size: 60px;
	color: #da0202;
}

.description {
	text-align: left;
	font-size: 40px;
	line-height: 1.5;
}

.food {
	color: #f2f2f2;
	text-align: center;
	font-size: 25px;
	margin-bottom: -55px;
	margin-top: 20px;
}

.grade {
	margin-top: 30px;
	margin-left: 150px;
	width: 250px;
}

.taegeuk {
	margin-top: -100px;
	margin-bottom: 30px;
	margin-left: 400px;
}


.taegeuk2 {
	margin-top: -100px;
	margin-bottom: 30px;
	margin-left: 1005px;
}

#main-nav {
	grid-column: 4/11;
	margin: 0;
	margin-top: 60px;
	height: 90px;
 }

 #main-nav ul {
	margin-top: 5px;
	margin-left:-120px;
	padding: 0;
 }
 
 #main-nav li {
	display: inline;
	margin-right: 28px;
 }
 
 #main-nav li:last-child {
	margin-right: 0;
 }
 
 #main-nav li a {
	color:#ffffff;
	font-size: 30px;
	margin-left: 20px;
 }
 
 #main-nav li a:hover {
	padding-bottom: 8px;
	border-bottom: 3px solid #f80e0e;
 }
 
 /* look for an element that already has the class "active" attached to it*/
 #main-nav li a.active {
	padding-bottom: 8px;
	border-bottom: 3px solid #f80e0e;
 }

 #main-nav {
	grid-column: 4/11;
	margin: 0;
	margin-top: 10px;
	height: 90px;
 }

 #main-nav ul {
	margin-top: 5px;
	margin-left:-120px;
	padding: 0;
 }
 
 #main-nav li {
	display: inline;
	margin-right: 28px;
 }
 
 #main-nav li:last-child {
	margin-right: 0;
 }
 
 
 #Log-in-top {
	grid-column: 11/-1;
	margin-right: -15px;
	margin-bottom: -1px;
 }
 
 .Log-in {
	background-color: #eaeaea;
	color: rgb(0, 0, 0);
	font-size: 20px;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 90%;
	margin-bottom: 60px;
	border-radius: 15px;
 }
 
 
 #Log-in-top:hover {
	background-color: #da0202;
 }

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Cambria, Cochin", Georgia, Times, 'Times New Roman', serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	background-color: #252525;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-box1 {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

#main-nav {
	grid-column: 3/11;
	/* Remove as content will dictate height */
	height: 80px;
}

#header-box2 {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}

/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
}

.recommendations {
	font-size: 40px;
}

#products {
	margin-top: 100px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
}

#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 507px;
	
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 507px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 507px;
}

.product-box {
	background-color: #ff3131;
}

.products-text {
	color: #fff;
	font-size: 50px;
	margin-left: 110px;
	margin-top: 90px;
}

.products-text2 {
	color: #fff;
	font-size: 50px;
	margin-left: 160px;
	margin-top: 90px;
}

#about-con {
	background-color: #252525;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	font-size: 45px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	text-align:left ;
	color: #fff;
	margin-top: 30px;
	margin-bottom: -60px;
	padding-top: 60px;
	line-height: 1.5;

}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}

#contact {
	margin-top: 100px;
	margin-bottom: 100px;
}

#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	margin-top: -50px;
	margin-left: -70px;
	height: 700px;
	text-align: left;
	font-size: 40px;
	line-height: 1.5;
}

.Address {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
	text-align: left;
	font-size: 40px;
	line-height: 1.5;
	margin-top: 20px;
}

#contact-form {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}

/*Common page elements  */

#footer-con {
	background-color: #252525;
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

.row {
	display: flex;
	width: 60px;
	height: 60px;
	margin-bottom:-25px ;
  }

  /* Create three equal columns that sits next to each other */
.column {
	flex: 33.33%;
	padding: 25px;
  }

#footer-nav {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom: 100px;
}

.bottom{
	color: #fff;
	margin: 20px;
	font-size: 30px;
	margin-left: 1000px;
}

#footer-newsletter1 {
	width: 400px;
	/* Remove as content will dictate height */
	height: 80px;
	background: #E33B3B;
	color: #fff;
	padding-top: 30px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 150px;
}

#footer-newsletter1:hover {
	background-color: #9a0c0c;
 }

#footer-newsletter2 {
	width: 300px;
	/* Remove as content will dictate height */
	height: 80px;
	border: 3px solid #fff;
	color: #fff;
	padding-top: 20px;
	margin-left: 600px;
	margin-top: -135px;
}

#footer-newsletter2:hover {
	background-color: #E33B3B;
 }

#footer-social {
	width: 400px;
	/* Remove as content will dictate height */
	height: 80px;
	border: 3px solid #fff;
	color: #fff;
	padding-top: 30px;
	margin-left: 1950px;
	margin-top: -120px;
}

#footer-social:hover {
	background-color: #E33B3B;
 }

input[type=text], select, textarea {
	width: 100%;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #DB0000;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 225px;
	margin-left: -300px;
	font-size: 20px;
  }
  
  input[type=submit]:hover {
	background-color: #DB0000;
  }
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 40px;
	padding-top: 50px;
	margin: -60px;
	height: 85%;
  }



/* gallery page */

#gallery-hero-con {
	height: 580px;
}

#gallery-text {
	width: 350%;
	grid-column: 1/4;
	/* Remove as content will dictate height */
	height: 300px;
	margin-top: -550px;
	color: #ffffff;
	font-size: 30px;
	text-align: left;
	background-color: #00000085;
}


#gallery-controls {
	margin-top: -100px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #FC2525;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
}

.gallery-box p {
	color: #f2f2f2;
	font-size: 50px;
	padding: 90px;
	text-align: center;
}

.bottomnav {
	text-align: right;
	width: 85%;
	padding-top: 2px;
	font-size: 30px;
}

#footer-social2 {
	width: 300px;
	/* Remove as content will dictate height */
	height: 90px;
	border: 3px solid #fff;
	color: #fff;
	margin-left: 1250px;
	margin-top: -100px;
	padding-top: 20px;
}







